body{

    background-image: url(ar.png);
    background-size: cover;
}

h1{
    color: #fcb86f;
}
.form1 {

    width: 400px;
    padding: 20px;
    font-size: 25px;
    border: 5px solid #251313;
}

.form2 {

    width: 400px;
    padding: 20px;
    font-size: 20px;
    border: 5px solid #251313;
}

.form3 {

    width: 400px;
    padding: 20px;
    font-size: 20px;
    border: 5px solid #251313;
}

.form4 {

    width: 400px;
    padding: 20px;
    font-size: 20px;
    border: 5px solid #251313;
}

.fieldset1{

    color: #fcb86f;
    width: 330px;
    padding: 15px;
    background-color: #4c3a50;

}

.fieldset2{

    color: #fcb86f;
    width: 330px;
    padding: 15px;
    background-color: #4c3a50;

}

.fieldset3{

    color: #fcb86f;
    width: 330px;
    padding: 15px;background-color: #4c3a50;


}

.fieldset4{

    color: #fcb86f;
    width: 330px;
    padding: 15px;
    background-color: #4c3a50;

}

.legend1{

    font-size: 25px;
}

.legend2{

    font-size: 25px;
}

.legend3{

    font-size: 25px;
}

.legend4{

    font-size: 25px;
}

input[type=search] {

    font-size: 15px;
}

label{

    font-size: 25px;
}


